@media only screen and (max-width: 1024px){
    body #nav-container{
        z-index: 1000;
        position: fixed;
    }
    body ul{
        width: 100%;
        flex-direction: column;
        left: 0;
        top: -500px;
        position: fixed;
        border-radius: 0 0 50px 50px;
        transition: top 0.5s;
    }
    body ul a{
        text-align: center;
        font-size: 40px;
    }
    body #navButtonMobile{
        display: block;
    }
    body #homePicContainer{
        height: 1400px;
    }
    body .homePic{
        height: 1400px;
    }
    body #channelContainer{
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    body .channel{
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    body #offerContainer{
        padding: 100px 20px;
    }
    body .offer{
        width: 450px;
    }
    body .offer img{
        height: 200px;
    }
    body #employeePicContainerSmall{
        width: 800px;
    }
    body .employeePic{
        min-width: 245px;
        min-height: 245px;
        max-height: 245px;
    }
    body #employeeInfoContainer{
        width: 70%;
    }
    body #employeeInfoContainer p{
        padding: 0 20px 0 20px;
        font-size: 35px;
        height: 300px;
    }
    body #section3 h1{
        font-size: 90px;
    }

    body #buyPage{
        width: 95%;
        height: 1400px;
        flex-direction: column;
    }
    body #buyImg{
        height: 50%;
        width: 90%;
    }
    body #buyPage div{
        width: 90%;
    }
    body #buyPage p{
        font-size: 40px;
    }
    body #buyPage i{
        padding: 30px 70px;
        font-size: 35px;
    }
    body #buyPage h2{
        font-size: 70px;
    }
    body #section4{
        padding: 80px 10px;
    }

    body #otherSectionContainer{
        height: 1500px;
    }
    body #productsSection{
        flex-direction: column;
        min-width: 100%;
    }
    body #productItems{
        width: 100%;
        height: 1100px;
    }
    body #productsMenu{
        min-width: 96%;
        height: 300px;
        overflow-y: scroll;
    }
    body #productsMenu label{
        font-size: 38px;
    }
    body .productsMenueSmall{
        max-height: 100px;
    }
    body .item{
        width: 350px;
        height: 550px;
    }
    body .item h1{
        font-size: 50px;

    }
    body .item img{
        height: 300px;
    }
    body .item p{
        height: 100px;
        font-size: 25px;
    }
    body .item i{
        padding: 7px 70px;
        font-size: 30px;
    }

    body #contactSection{
        height: 93%;
        padding: 50px 0;
    }
    body #contactUsIconContainer div{
        width: 30%;
        height: 250px;
    }
    body #contactUsIconContainer p{
        font-size: 35px;
    }
    body #contactUsInputsContainer{
        width: 90%;
    }
    body #contactUsInputsContainer input, body #contactUsInputsContainer textarea, body #contactUsInputsContainer button{
        height: 100px;
        font-size: 35px;
        margin: 20px 0;
    }
    body #contactUsInputsContainer textarea{
        min-height: 200px;
        padding: 30px 0;
    }
    body #contactUsSMediaIcon{
        width: 100%;
        padding-top: 100px;
    }
    body #contactUsSMediaIcon p{
        font-size: 35px;
    }
    body #contactUsSMediaIcon img{
        width: 70px;
    }
    body #aboutSection{
        height: 100%;
    }
    body #aboutSecSmall{
        flex-direction: column;
    }
    body #aboutSecP1, body #aboutSecP2{
        width: 100%;
        padding: 50px 0;
        border-right: none;
        text-align: center;
    }
    body #aboutSecP1 h2{
        font-size: 40px;
    }
    body #aboutSecP1 p{
        font-size: 30px;
    }
    body #aboutSecP2Small{
        width: 70%;
        height: 50%;
    }
    body #aboutSecP2Small img{
        min-width: 200px;
        min-height: 200px;
    }
    body #aboutSecP2Small p, body #aboutSecP2Small i{
        font-size: 35px;
    }

    body #chartSection{
        height: 100%;
    }
    body #chartSectionSmall{
        flex-direction: column;
    }
    body #chartSectionSmall{
        padding: 50px 20px;
    }
    body #chartSectionP1{
        width: 100%;
        height: 900px;
    }
    body #chartSectionP1 div{
        height: 250px;
    }
    body #chartSectionP1 p{
        font-size: 50px;
        margin: 0 4%;
    }
    body #chartSectionP1 i{
        font-size: 30px;
    }
    body #chartSectionP1 img{
        min-width: 250px;
        min-height: 250px;
    }
    body #chartSectionP1 b{
        font-size: 50px;
        margin: 0 4%;
    }
    
    body #chartSectionP2{
        width: 100%;
        padding: 40px 0;
    }
    body #chartSectionP2 h1{
        font-size: 70px;
    }
    body #chartSectionP2 p, body #chartSectionP2 b{
        font-size: 50px;
    }
    body #chartSectionP2 button{
        padding: 20px 100px;
        font-size: 35px;
    }

    body #personalInfoForm{
        width: 800px;
        height: 800px;
    }
    body #personalInfoForm p{
        font-size: 60px;
    }
    body #personalInfoForm input, body #personalInfoForm button{
        margin: 15px 0;
        padding: 15px;
        font-size: 35px;
    }

    body #accountSection{
        height: 100%;
    }
    body #logInContainer p{
        font-size: 40px;
    }
    body #registerContainer, body #logInContainer{
        height: 800px;
        width: 700px;
    }
    body #logInP, body #registerP{
        font-size: 50px;
    }
    body #regInputDiv input, body #logInputDiv input, body #regSubmit, body #signInSubmit{
        padding: 20px 0;
        margin: 20px 0;
        font-size: 40px;
    }
    body #regSubmit, body #signInSubmit{
        height: 90px;
        margin: 70px 0;
        border-radius: 90px;
    }

    body #productsMenu h1{
        z-index: 0;
        bottom: -200px;
        right: 0;
        left: unset;
        transform: unset;
        font-size: 40px;
        border-radius: 10px;
    }

    body add{
        padding: 60px 30px 30px 30px;
        top: 375px;
        background: rgb(30, 57, 71);
    }

    body #productItems::-webkit-scrollbar{
        display: none;
    }

    body #addItemForm{
        width: 900px;
    }
    body #addItemForm input, #addItemForm p{
        padding: 30px 0;
        font-size: 35px;
    }
    body #addItemForm p{
        padding: 30px 0;
    }

    body #itemSettings{
        width: 900px;
    }
    body #itemSettings input{
        font-size: 35px;
        padding: 30px 0;
    }
    body #itemSettings p, body #itemSettings h1{
        font-size: 35px;
        padding: 30px 0;
    }

    

    body #newPriseCheckForm{
        top: 130%;
    }
    body #newPriseCheckForm input, body #newPriseCheckForm p, body #deletePriseCheck{
        width: 500px;
        padding: 25px;
        font-size: 35px;
    }

    body #mainPicUploadForm{
        top: 150px;
        width: 400px;
    }
    body #mainPicUploadForm p{
        font-size: 30px;
        padding: 50px 0;
    }
    
    
    body #deleteHomePicB{
        top: 1000px;
        width: 400px;
        padding: 50px 0;
        font-size: 30px;
    }
}




*{
    margin: 0;
    padding: 0;
    font-family: 'Thasadith', sans-serif;
    font-size: 18px;
    user-select: none;
    text-decoration: none;
    outline: none;
}
body{
    background: #222;
}
body::-webkit-scrollbar{
    background: #181818;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(145, 101, 51);
    border: solid 1px #181818;
    border-radius: 10px;
}

#nav-container{
    background: #111;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}
#navButtonMobile{
    display: none;
}
#logo-container{
    z-index: 500;
    flex-basis: 45%;
    padding: 10px 0 10px 50px;
}
ul{
    z-index: 190;
    position: fixed;
    right: 200px;
    top: 20px;
    flex-basis: 45%;
    display: flex;
    list-style: none;
    background: #111;
    border-radius: 50px;
    transition: right 0.5s, border-radius 0.3s linear 0.4s;
}
ul a{
    padding: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
    white-space: nowrap;
}
ul a:hover{
    transform: translateY(-3px);
    color: rgb(255, 156, 117);
}
#cart-container{
    z-index: 200;
    position: fixed;
    top: 20px;
    right: 50px;
    cursor: pointer;
    padding: 9.1px 15px;
    border-radius: 50%;
    background: #111;
    transition: right 0.5s, border-radius 0.3s linear 0.4s, filter 0.1s, padding 0.1s;
}
#cart-container:hover{
    padding: 5px 15px 13px 15px;
}
#cart-container img{
    filter: grayscale(100%);
}
#cart-container:hover img{
    filter: grayscale(0%);
}
#cartNmOfItms{
    z-index: 200;
    position: fixed;
    background: #050;
    color: #fff;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.5s;
    text-align: center;
    display: none;
}
#cartN{
    position: absolute;
    background: #050;
    color: #fff;
    top: 48px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    pointer-events: none;
    display: none;
}
#cart-container:hover p{
    top: 44px;
}




#section1{
    position: relative;
}
#mainInfoContainer{
    z-index: 100;
    position: absolute;
    text-align: center;
    color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mainInfoContainer h1{
    font-size: 40px;
}
#mainInfoContainer h2{
    font-size: 20px;
    margin: 10px 0 20px 0;
}
#mainInfoContainer h3{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: rgb(197, 137, 68);
    cursor: pointer;
    width: 150px;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
#homePicContainer{
    display: flex;
    height: 550px;
}
.homePic{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: left 30%;
    opacity: 0;
    transition: opacity 2s, object-position 25s;
    pointer-events: none;
}
#SwipeRight, #SwipeLeft{
    position: absolute;
    font-size: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    padding: 50px 20px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
#SwipeRight{
    right: 0;
}
#channelContainer{
    position: absolute;
    top: 90%;
    left: 1%;
    display: flex;
    justify-content: center;
    background: #111;
    border-radius: 20px;
    border: solid 1px #aaa;
}
.channel{
    width: 30px;
    height: 30px;
    background: #555;
    border-radius: 50%;
    margin: 2px;
    transition: 0.5s;
}






#section2{
    position: relative;
    background: #222;
    text-align: center;
}
#offerHeader{
    font-size: 50px;
    color: rgb(197, 137, 68);
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    font-family: 'Parisienne', cursive;
}
#offerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}
.offer{
    width: 235px;
    min-height: 100%;
    background-image: url('images/signInUp2.jpg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: -10px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s, opacity 0.5s;
}

.offer > h1{
    padding: 20px 0;
    color: rgb(197, 137, 68);
    font-size: 25px;
    font-weight: lighter;
    pointer-events: none;
}
.offer img{
    width: 80%;
    height: 150px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 5px;
    pointer-events: none;
    transition: 2s;
}
.offer p{
    color: #aaa;
    padding: 0 30px;
    min-height: 50px;
    max-height: 50px;
    overflow-y: scroll;
    pointer-events: none;
}
.offer p::-webkit-scrollbar{
    display: none;
}
.offer h2{
    color: rgb(197, 137, 68);
    padding: 0 0 20px 0;
    font-size: 22px;
    font-weight: normal;
    pointer-events: none;
}




#section3{
    position: relative;
    background: rgb(61, 51, 39);
    background-image: url('images/yellowBackground.jpg');
    padding: 70px 0;
}
#employeePicContainerSmall{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 510px;
    padding: 10px 0;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.employeePic{
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
    filter: grayscale(100%);
    border: solid 1px rgb(197, 137, 68);
    transition: 0.3s;
}
#addEmployee{
    border: solid 1px #000;
}

#employeeInfoContainer{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#employeeInfoContainer b{
    position: absolute;
    top: 0;
    font-size: 40px;
    color: rgb(155, 110, 42);
    padding: 30px 20px;
    cursor: pointer;
}
#employeeRight{
    right: 0;
}
#employeeInfoContainer p{
    padding: 0 100px 0 100px;
    font-size: 20px;
    color: #aaa;
    text-align: center;
    height: 115px;
    overflow-y: scroll;
    text-shadow: 1px 1px 1px #000;
}
#employeeInfoContainer p::-webkit-scrollbar{
    display: none;
}
#section3 h1{
    padding: 50px 0 0 0;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 50px;
    color:rgb(155, 110, 42);
    text-shadow: 1px 1px 1px #000;
    font-weight: normal;
}
#section3 h3{
    color: #aaa;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
}

#addEmployeeForm{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
#addEmployeeForm input, #addEmployeeForm p, #addEmployeeForm textarea{
    width: 100%;
    border: solid 1px #000;
    border-radius: 50px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    resize: none;
}
#addEmployeeForm textarea{
    border-radius: 30px;
    height: 100px;
    margin: 10px 0;
}
#addEmployeeForm textarea::-webkit-scrollbar{
    display: none;
}
#addEmployeeForm p{
    background: #972;
}




#otherSectionContainer{
    background: #222;
    height: 620px;
    padding: 20px 0;
    display: none;
    cursor: default;
}






#productsSection{
    position: relative;
    display: flex;
    cursor: default;
    min-width: 800px;
}
#productItems{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:  10px 0;
    height: 600px;
    overflow-y: scroll;
    background-image: url('images/signInUp2.jpg');
}
#productItems::-webkit-scrollbar{
    width: 20px;
    background: #222;
}
#productItems::-webkit-scrollbar-thumb{
    border: solid 1px #222;
    background: rgb(30, 57, 71);
    border-radius: 20px;
}

#productsMenu{
    position: relative;
    background: rgb(30, 57, 71);
    padding: 40px 2%;
    min-width: 16%;
    height: 540px;
    border-radius: 0 30px 30px 0;
}
#productsMenu h1{
    z-index: 300;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: #fff;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap;
}
#newPriseCheckForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#newPriseCheckForm input, #newPriseCheckForm p{
    width: 200px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 1px;
    font-weight: bold;
}
#newPriseCheckForm p{
    background: #111;
}
#deletePriseCheck{
    background: #500;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}
#productsMenu label{
    margin: 0 30px 0 3px;
    font-weight: normal;
    color: #aaa;
    font-size: 22px;
}
.productsMenueSmall{
    margin: 0 0 30px 30px;
    overflow-y: scroll;
    max-height: 75px;
}
.productsMenueSmall::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0.3);
    width: 5px;
    border-radius: 5px;
}
.productsMenueSmall::-webkit-scrollbar-thumb{
    width: 100%;
    border-radius: 5px;
    background: #000;
}
#productsMenuePrises{
    margin-top: 10px;
    border-top: solid 1px #000;
    padding-top: 20px;
    max-height: 180px;
    overflow-y: scroll;
}
#productsMenuePrises::-webkit-scrollbar{
    width: 5px;
    background: rgba(0, 0, 0, 0.3);
}
#productsMenuePrises::-webkit-scrollbar-thumb{
    width: 100%;
    background: #000;
    border-radius: 5px;
}
.item{
    width: 200px;
    height: 300px;
    text-align: center;
    background: #191919;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    margin: 10px;
}
.item:hover{
    transform: translateY(-10px);
}
.item h1{
    font-size: 25px;
    color: rgb(134, 93, 46);
}
.item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 5px 0;
    border-radius: 10px;
}
.item p{
    margin-bottom: 15px;
    color: #aaa;
    height: 50px;
    overflow: scroll;
    font-weight: normal;
}
.item p::-webkit-scrollbar{
    display: none;
}
.item i{
    background: #090909;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
}



#contactSection{
    width: 100%;
    height: 620px;
    background-image: url('images/signInUp2.jpg');
    cursor: default;
}
#contactUsIconContainer{
    display: flex;
    justify-content: center;
    color: #aaa;
    font-weight: normal;
    padding: 30px 0;
}
#contactUsIconContainer div{
    text-align: center;
    padding: 0 20px;
    width: 15%;
}
#contactUsIconContainer img{
    width: 50px;
    height: 50px;
}
#contactUsInputsContainer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
}
#contactUsInputsContainer input, #contactUsInputsContainer textarea, #contactUsInputsContainer button{
    min-width: 100%;
    max-width: 100%;
    height: 40px;
    border: solid 1px #aaa;
    border-radius: 50px;
    background: rgb(26, 26, 26);
    color: #fff;
    text-align: center;
    padding: 2px 0;
    margin: 5px 0;
}
#contactUsInputsContainer textarea{
    min-height: 90px;
    padding-top: 7px;
    resize: none;
}
#contactUsInputsContainer button{
    background:rgb(134, 93, 46);
    color: black;
    border: solid 1px #fff;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}
#contactUsSMediaIcon{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    text-align: center;
    padding-top: 40px;
    color: #aaa;
    font-weight: normal;
}
#contactUsSMediaIcon img{
    width: 40px;
    margin: 20px;
}






#aboutSection{
    height: 620px;
    background-image: url('images/signInUp2.jpg');
    cursor: default;
}
#aboutSecSmall{
    display: flex;
    height: 100%;
}
#aboutSecP1, #aboutSecP2{
    width: 50%;
    padding: 80px;
    border-right: solid 1px rgb(126, 94, 19);
}
#aboutSecP1 h1{
    font-size: 50px;
    color: rgb(126, 94, 19);
    border-bottom: solid 1px rgb(126, 94, 19);
    margin-bottom: 30px;
}
#aboutSecP1 h2{
    font-size: 22px;
    color: rgb(126, 94, 19);
}
#aboutSecP1 p{
    font-size: 18px;
    color: #aaa;
    margin: 0 0 40px 0;
    font-weight: normal;
}

#aboutSecP2{
    border-right: none;
}
#aboutSecP2 h1{
    text-align: center;
    font-size: 50px;
    color: rgb(126, 94, 19);
    border-bottom: solid 1px rgb(126, 94, 19);
    margin-bottom: 40px;
}
#aboutSecP2Small{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 73%;
    overflow-y: scroll;
}
#aboutSecP2Small::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 1px;
}
#aboutSecP2Small::-webkit-scrollbar-thumb{
    width: 100%;
    background: rgb(126, 94, 19);
}
#aboutSecP2Small div{
    display: flex;
    margin: 10px 0;
}
#aboutSecP2Small img{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 15px;
    filter: grayscale(40%);
}
#aboutSecP2Small p{
    max-height: 85px;
    overflow-y: scroll;
}
#aboutSecP2Small p::-webkit-scrollbar{
    display: none;
}
#aboutSecP2Small i{
    color: #aaa;
    font-weight: normal;
}




#chartSection{
    height: 620px;
    background-image: url('images/signInUp2.jpg');
    color: #aaa;
    cursor: default;
}
#chartSectionSmall{
    display: flex;
    justify-content: center;
    padding: 50px 200px;
}
#emptyCartText{
    position: absolute;
    color:rgb(97, 202, 75);
    font-size: 50px;
    font-weight: normal;
}
#chartSectionP1{
    width: 60%;
    min-width: 550px;
    height: 530px;
    overflow-y: scroll;
}
#chartSectionP1::-webkit-scrollbar{
    display: none;
}
#chartSectionP1 div{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px;
}
#chartSectionP1 img{
    max-width: 120px;
    min-width: 120px;
    max-height: 120px;
    min-height: 120px;
    object-fit: cover;
    border: solid 1px rgba(255, 255, 255, 0.2);
}
#chartSectionP1 p{
    margin: 0 7%;
    font-size: 30px;
}
#chartSectionP1 input{
    font-size: 30px;
    width: 60px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    color: #aaa;
    border: solid 1px rgba(255, 255, 255, 0.2);
}
#chartSectionP1 b{
    font-size: 30px;
    color: #f00;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#chartSectionP1 i{
    text-align: center;
    width: 20%;
    border: 5% solid #181818;
    height: 90%;
    overflow-y: scroll;
    padding: 0 2%;
    margin: 0 2%;
    font-weight: normal;
}
#chartSectionP1 i::-webkit-scrollbar{
    width: 2px;
}
#chartSectionP1 i::-webkit-scrollbar-thumb{
    width: 100%;
    background: rgb(81, 151, 67);
}

#chartSectionP2{
    width: 30%;
    min-width: 200px;
    height: 400px;
    text-align: center;
    padding: 100px 0 0 100px;
    display: none;
}
#chartSectionP2 h1{
    font-size: 40px;
    font-weight: normal;
    color:rgb(93, 163, 79);
}
#chartSectionP2 p, #chartSectionP2 b{
    font-size: 30px;
    font-weight: normal;
}
#chartSectionP2 div{
    margin: 30px 0;
}
#chartSectionP2 button{
    background: rgb(62, 119, 50);
    color: white;
    border: solid 1px #111;
    border-radius: 5px;
    padding: 10px 50px;
}





#accountSection{
    position: relative;
    height: 620px;
    cursor: default;
    background-image: url('images/signInUp2.jpg');
    overflow: hidden;
}
#registerContainer, #logInContainer{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 340px;
    padding: 30px;
    background: rgb(20, 67, 85);
    border: solid 1px #000;
    border-radius: 30px;
    pointer-events: none;
}
#logInP, #registerP{
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    cursor: pointer;
    color: #fff;
    font-weight: normal;
}
#regInputDiv input, #logInputDiv input, #regSubmit, #signInSubmit{
    width: 100%;
    padding: 5px 0;
    height: 30px;
    border: none;
    border-bottom: solid 1px #000;
    background: rgb(20, 67, 85);
    color: #fff;
    margin: 10px 0;
    font-weight: normal;
}
#regSubmit, #signInSubmit{
    background: rgb(255, 255, 255);
    height: 50px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 50px;
    border: solid 1px #000;
    text-align: center;
}

#logInContainer{
    z-index: 100;
    height: 400px;
    width: 340px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 0.5s;
    pointer-events: unset;
}
#registerP{
    margin-bottom: 30px;
    color: #000;
    font-weight: normal;
}
#logInputDiv input{
    background: rgb(255, 255, 255);
    color: #000;
    font-weight: bold;
}
#signInSubmit{
    margin: 40px 0;
    color: #fff;
    background: rgb(20, 67, 85);
    font-weight: normal;
}


#section4{
    position: relative;
    background: #111;
    display: flex;
    justify-content: center;
    color: #aaa;
    font-weight: normal;
    padding: 40px 40px 80px 40px;
}
#section4 div{
    width: 22%;
    padding: 0 5%;
}
#section4 h2{
    position: absolute;
    bottom: 0;
    font-weight: normal;
    padding: 0 0 20px;
    left: 50%;
    transform: translateX(-50%);
}
#section4 p{
    font-size: 18px;
}




#buyPage{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 600px;
    background-image: url('images/yellowBackground.jpg');
    border: solid 1px #aaa;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: default;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
    display: none;
}
#buyImg{
    height: 75%;
    width: 40%;
    object-fit: cover;
    border: solid 1px #000;
    border-radius: 10px;
    pointer-events: none;
}
#buyPage div{
    width: 40%;
    text-align: center;
}
#buyPage h1{
    font-size: 50px;
    text-align: center;
}
#buyPage p{
    color: #aaa;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin: 20px 0;
}
#buyPage input{
    width: 70px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
}
#buyPage i{
    background: #111;
    color: #aaa;
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
}
#buyPage h2{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 40px;
    color: #f00;
    cursor: pointer;
    font-size: 40px;
}





#personalInfo{
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
#personalInfoForm{
    position: relative;
    background-image: url('images/yellowBackground.jpg');
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#personalInfoForm b{
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 25px;
    cursor: pointer;
    color: red;
    font-size: 30px;
}
#personalInfoForm p{
    color: #ddd;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
#personalInfoForm input, #personalInfoForm button{
    margin: 5px 0;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px #000;
    border-radius: 4px;
    background: #eee;
    width: 80%;
}
#personalInfoForm input::-webkit-input-placeholder{
    color: #444;
}
#personalInfoForm button{
    background: #050;
    color: #fff;
    font-weight: normal;
    margin-top: 20px;
    cursor: pointer;
}




add{
    position: absolute;
    font-size: 70px;
    right: 40px;
    top: -20px;
    background: #111;
    color: #fff;
    font-weight: normal;
    padding: 40px 10px 10px 10px;
    border-radius: 0 0 50px 50px;
    cursor: pointer;
}


#addItemForm{
    z-index: 200;
    position: absolute;
    display: none;
    flex-direction: column;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
}
#addItemForm input, #addItemForm p{
    width: 100%;
    font-weight: bold;
    text-transform: capitalize;
    padding: 20px 0;
    text-align: center;
    border: solid 1px #000;
    border-radius: 10px;
}
#addItemForm p{
    background: #999;
    color: #000;
}





#itemSettings{
    z-index: 500;
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#itemSettings input{
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    border: none;
    width: 100%;
    display: none;
    background: #111;
    color: #eee;
    border-radius: 10px;
}
#itemSettings p, #itemSettings h1{
    font-size: 18px;
    padding: 20px 0;
    border: solid 1px #000;
    text-align: center;
    border-radius: 10px;
    background: #eee;
    color: #000;
    width: 100%;
}
#itemSettings p:hover, #itemSettings h1:hover{
    background: #fff;
}
#itemSettings h1{
    background: #900;
    color: white;
    font-weight: normal;
}


#mainPicUploadForm{
    z-index: 500;
    position: absolute;
    top: 60px;
    left: 0;
    width: 200px;
}
#mainPicUploadForm p{
    border: solid 1px #000;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
    width: 100%;
    margin: 3px 0;
    border-radius: 0 100px 100px 0;
    background: #034;
    color: white;
}


#deleteHomePicB{
    z-index: 100;
    position: absolute;
    border: solid 1px #000;
    top: 510px;
    left: 0;
    width: 200px;
    padding: 20px 0;
    border-radius: 0 100px 100px 0;
    background: #700;
    color: white;
    font-size: 22px;
}



#addOfferForm{
    z-index: 500;
    position: absolute;
    top: 35%;
    left: -50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
#addOfferForm input, #addOfferForm p{
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    border: solid 1px #999;
    background: #111;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    margin-top: -75px;
    transition: 0.3s;
    pointer-events: none;
}
#addOfferForm p{
    background: rgb(128, 88, 14);
    color: white;
    pointer-events: unset;
}


#addOfferImageForm{
    display: none;
}



#allOfferImage{
    z-index: 100;
    position: absolute;
    width: 45%;
    height: auto;
    max-height: 450px;
    overflow-y: scroll;
    top: 25%;
    left: 50%;
    transform: translateX(-35%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #111;
    border: solid 1px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 50px 0;
    display: none;
}
#allOfferImage::-webkit-scrollbar{
    width: 10px;
}
#allOfferImage::-webkit-scrollbar-thumb{
    width: 100%;
    border-radius: 10px;
    background: #057;
}
#allOfferImage img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 20px;
    border-radius: 5px;
}
#allOfferImage p{
    width: 100px;
    margin: 20px 20px 20px -120px;
    padding: 30px 0;
    border-radius: 5px;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.2);
}
#allOfferImage p:hover{
    background: rgba(255, 255, 255, 0.1);
}
#allOfferImage p:active{
    background: rgba(0, 0, 0, 0.7);
}
#allOfferImage b, #allOfferImage u{
    position: absolute;
    color: red;
    font-weight: normal;
    display: none;
    cursor: pointer;
}
#allOfferImage u{
    color: #fa5;
}
#allOfferImage textarea{
    position: absolute;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    display: none;
    border: none;
}
#allOfferImage button{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 40px;
    border-radius: 0 0 50px 50px;
    border: none;
    background: #057;
    color: white;
}

#addToOfferImagesText{
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    display: none;
}