<!DOCTYPE html>
<head>
    <title>Message</title>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<html>
    <body>
        <div>
            <h1 style="color: rgb(86, 238, 81)">Message Sent</h1>
            <h2 style="color: rgb(220, 220, 220)">Thanks <b style="color: rgb(86, 238, 81)">{{clientName}}</b> for contacting us.</h2>
            <h2 style="color: rgb(220, 220, 220)">We will answear you as soon as possible.</h2>
        </div>
        
    </body>
</html>

<style>
    @media only screen and (max-width: 1024px){
        body h1{
            font-size: 70px;
        }
        body h2{
            font-size: 40px;
        }
    }
    *{
        font-weight: normal
    }
    body{
        font-family: 'Thasadith', sans-serif;
        background-image: url('images/signInUp2.jpg');
    }
    body div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>